@page
@using QLL.DTO
@using System.Text.Json
@using Microsoft.AspNetCore.Http
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Quản lý admin";
}
@model QuanLyLop2_ASP.NETCore.Pages.AdminModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<script type="text/javascript">
    var dataAd = @Html.Raw(JsonSerializer.Serialize(Model.lstAd));
    var dataAd1 = @Html.Raw(JsonSerializer.Serialize(Model.lstAd1));
    var curPage = 1;
    var totPage = @Html.Raw(Model.TotalPage);
</script>
@section menu_nav
    {
    <li>
        <img src="~/images/avatar.png" alt="Avatar" class="rounded-circle" style="background-color: #222d32; height: 35px; margin: 0px 10px; ">
    </li>
    <li class="nav-item d-flex align-items-center" style="font-weight: 500;">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">
            @Model.busAd.GetById(HttpContext.Session.GetString("user_id")).TenAdmin
        </a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <a class="nav-link btn btn-outline-danger" asp-area="" asp-page="/Index">Đăng xuất</a>
    </li>

}
@section menu
{
    <partial name="~/Pages/Shared/_Menu_admin.cshtml" />
}
<div>
    <h1 class="display-4 text-center">Danh sách Admin</h1>
    <br />
    <form method="post" asp-page="/Admin">
        <div class="row">
            <div class="col-2 form-group">
                <label asp-for="@Model.maAd"></label>
                <input type="text" class="form-control" asp-for="@Model.maAd" />
            </div>
            <div class="col-3 form-group">
                <label asp-for="@Model.tenAd"></label>
                <input type="text" class="form-control" asp-for="@Model.tenAd" />
            </div>
            <div style="margin-block: auto; margin-left: auto;" class="col-2 form-group">
                <br />
                <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
            </div>
        </div>
    </form>
    <button style=" margin: 10px 0px;" type="button" onclick="openModalAd(null);" class="btn btn-outline-primary btn-sm">Thêm admin</button>

    <table id="tableAd" class="table table-striped">
        <tr>
            <th>Mã Admin</th>
            <th>Tên Admin</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Đia chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        @if (Model.lstAd1.Count != 0)
        {
            <tbody id="tbodyDT">
                @foreach (AdminDTO ad in Model.lstAd1)
                {
                    <tr id="trAd_@ad.MaAdmin">
                        <td>@ad.MaAdmin</td>
                        <td>@ad.TenAdmin</td>
                        <td>@ad.GioiTinh</td>
                        <td>@ad.NgaySinh</td>
                        <td>@ad.DiaChi</td>
                        <td>@ad.Sdt</td>
                        <td>@ad.Email</td>
                        <td>
                            <button type="button" onclick="openModalAd('@ad.MaAdmin');" class="btn btn-outline-primary btn-sm">Sửa</button>
                            <button type="button" onclick="deleteAd('@ad.MaAdmin');" class="btn btn-outline-danger btn-sm">xoá</button>
                        </td>
                    </tr>
                }

            </tbody>

        }
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="goPre('Admin')">Previous</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);"><span id="spanCurrentPage">1</span></a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="goNext('Admin')">Next</a></li>
        </ul>
    </nav>
</div>
<div id="DivModalAd" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa admin: <span id="MaAd"></span></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtMaAd">Mã admin</label>
                    <input type="text" class="form-control" id="txtMaAd" aria-describedby="MaAdHelp" placeholder="Mã admin: ad...">
                    <small id="MaAdHelp" class="form-text text-muted">Không được bỏ trống, 5 kí tự.</small>
                </div>
                <div class="form-group">
                    <label for="txtTenAd">Tên admin</label>
                    <input type="text" class="form-control" id="txtTenAd" aria-describedby="TenAdHelp" placeholder="Tên admin">
                    <small id="TenAdHelp" class="form-text text-muted">Không được bỏ trống.</small>
                </div>
                <div class="form-group">
                    <label for="txtNS">Ngày sinh</label>
                    <input type="date" class="form-control" id="txtNS" value="2000-01-01"
                           aria-describedby="PhongHocHelp">
                    <small id="NSHelp" class="form-text text-muted">Không được bỏ trống.</small>
                </div>
                <div class="form-group">
                    <label for="selGT">Giới tính</label>
                    <select class="form-control" id="selGT">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtDiaChi">Địa chỉ</label>
                    <input type="text" class="form-control" id="txtDiaChi" aria-describedby="DiaChiHelp" placeholder="Địa chỉ">
                    <small id="DiaChiHelp" class="form-text text-muted">Không được bỏ trống.</small>
                </div>
                <div class="form-group">
                    <label for="txtSDT">Số điện thoại</label>
                    <input type="text" class="form-control" id="txtSDT" aria-describedby="SDTlHelp" placeholder="Số điện thoại">
                    <small id="SDTHelp" class="form-text text-muted">Không được bỏ trống.</small>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="email" class="form-control" id="txtEmail" aria-describedby="DiaChiHelp" placeholder="Địa chỉ email">
                    <small id="EmailHelp" class="form-text text-muted">Không được bỏ trống.</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveAd()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script id="adTemplate" type="text/x-jquery-tmpl">
    <tr id="trHS_${maAdmin}">
        <td>${maAdmin}</td>
        <td>${tenAdmin}</td>
        <td>${gioiTinh}</td>
        <td>${ngaySinh}</td>
        <td>${diaChi}</td>
        <td>${sdt}</td>
        <td>${email}</td>
        <td>
            <button type="button" onclick="openModalAd('${maAdmin}');" class="btn btn-outline-primary btn-sm">Sửa</button>
            <button type="button" onclick="deleteAd('${maAdmin}');" class="btn btn-outline-danger btn-sm">xoá</button>
        </td>
    </tr>
</script>
